$common-height: 150px;
@mixin with100minus($px) {
  width: calc(100% - #{$px});
}
@mixin height100($px) {
  height: calc(100% - #{$px});
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}

textarea {
  width: 100%;
}

// 头部标题
.header {
  padding: 30px;
  text-align: center;
  background: white;
  h1 {
    font-size: 50px;
  }
}
//导航条
.topnav {
  overflow: hidden;
  background: blueviolet;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover {
    background: #ddd;
    color: black;
  }
}
// 创建两列
//left column
.leftcolumn {
  float: left;
  width: 25%;
}
//右侧栏
.rightcolumn {
  float: left;
  width: 55%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
.vip {
  float: right;
  width: 20%;
  padding: 14px 20px;
  background-color: #f1f1f1;
  text-align: right;
  a {
    display: inline-block;
    background-color: blueviolet;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 3px;
    border-radius: 2px;
  }
  a:hover {
    color: black;
  }
  section:before {
    content: "Amount(CNY):";
  }
  .pay {
    display: none;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
  min-height: 140px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#mds li {
  a {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
  }
  span {
    color: blueviolet;
    cursor: pointer;
  }
  span:hover {
    color: white;
  }
  :hover {
    background: blueviolet;
  }
}

// 屏幕尺寸小于400px时，导航等布局改为上下布局
@media screen and (max-width: 600px) {
  //屏幕尺寸小于 600px时，两列布局改为上下布局
  .leftcolumn,
  .rightcolumn,
  .vip {
    width: 100%;
    padding: 0;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}
